<div class="dashboard-page">
<section class="create-new-post">
    <h2>Create a brand new post</h2>
    <form class="latest-post-form">
        <div>
            <input class="post-title-input" placeholder="Title"  type="text" id="post-title" name="post-title"></input>
        </div>
        <div>
            <input class="post-body-input" placeholder="Body" id="post-body" name="post-body"></input>
        </div>
        <button type="submit" class="btn">Post</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="update-link">Update post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
</div>